@font-face {
    font-family: 'bononi';
    src: url('../scr/fonts/bodoni_[allfont.ru].ttf');
}

*{
    margin: 0;
    padding: 0;
}
:root{
    --bgc-block: #fff;
}
.dark{
    --bgc-body: rgb(34, 34, 34);
}
body{
    padding: 10px 0;
    background-color: #F5F5F5;
}

.fitr_cat_text,
.fitr_price_text{cursor: pointer;}

svg:hover{cursor: pointer; color: #CD0074; transition: all ease .2s;}

.notActive{display: none;}
.block-with_content{
    width: 90%;
    padding: 10px 40px;
    margin: 10px auto;
}
.space{width: 80%;}
.block{
    border: #000 2px solid;
    box-shadow: 0 4px 7px 0 #0000007e;
    transition: all ease .5s;
}
.ico{width: 25px;height: 25px;}

.block.none-shadow{box-shadow: none;}

#header{
    height: 60px;
    background-color: #FFAA00;
}
    #logo{
        font-family: 'bodoni';
        font-size: 14px;
        width: 80px;
    }

    #count_items{
        position: absolute;
        top: -5px;
        right: -5px;
        padding: 0px 4px;
        background-color: #A6005E;
        border-radius: 50%;
        color: white;
        font-weight: 600;
        font-size: .9em;
    }
        #cart-content{
            -webkit-appearance: none !important;
            z-index: 5;
            font-family: 'bononi';
            position: absolute;
            top: 30px;
            left: -190px;
            background-color: white;
            padding: 10px 20px;
            width: 320px;
            
        } 
        #cart-content::-webkit-scrollbar-track{
            background-color: grey;
            width: 7px;
            border-radius: 7px;
        }
            #items{
                border-top: 1px solid #bebebe;
                border-bottom:  1px solid #bebebe;
                margin: 10px 0;
                height: fit-content;
                max-height: 190px;
                overflow-y: scroll;
            }
                .item{
                    border-top: 1px solid #bebebe;
                    border-bottom:  1px solid #bebebe;
                    padding: 7px;

                }
                    .tb{width: 60px;padding: 5px; overflow-wrap: break-word;}
                    .tr{align-items: center;}

                    .del{text-align: right;}
                    
                    .length{font-size: .9em; color: rgb(41, 41, 41);}
           
            #itemsv .price{

            }
            .but{
                padding: 5px 10px;
                background-color: #AAFF00;
                color: white;
                font-weight: 600;
                font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                width: fit-content;
            }
            .but:hover{
                cursor: pointer;
                transition: all ease .4s;
                background-color: #679B00;
                transform: scale(1.1);
            }
    #user_wallet{
        margin-left: 25px;
    }
#main{background-color: var(--bgc-block);}

#filtr{
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #d1d1d1;
    font-family: 'bononi';
}
    #search{padding: 3px 7px;}
    #filtr-category_and_price{margin: 0 50px;}
        .filtr-price_content{
            z-index: 5;
            font-family: 'bononi';
            position: absolute;
            top: 30px;
            left: 0;
            background-color: white;
            padding: 10px 20px;
            width: fit-content;
        }
            .tablo_count_price{
                text-align: center;
                border: 1px solid rgb(200, 200, 200);
                margin: 0;
                width: 50px;
                height: 20px;
                border-radius: 2px;
                /* padding: 5px 7px; */
            }
            .tablo_count_price:first-child{margin:0 50px 0 0;}

            .range{margin-right: 20px;}
                #range-price{
                    -webkit-appearance: none !important;
                    background-color: black;
                    height: 3px;
                }
                #range-price::-webkit-slider-thumb{
                    -webkit-appearance: none !important;
                    background-color: #CD0074;
                    width: 10px;
                    height: 15px;
                    border-radius: 5px;

                }
    #filtr-category{margin: 0 30px;}
        .p{margin: 0 5px 0 0;}
                .cat_cont{background-color: white; list-style-type: none; z-index: 5;top: 30px; padding: 0; font-family: 'bononi';}
                .cat_cont li{
                    padding: 7px 15px;
                    cursor: pointer;
                }
                .cat_cont li:hover{
                    background-color: #aaff004d;
                }



.card_book{
    width: 160px;
    height: 200px;
    margin: 10px;
    font-size: 1.2em;
}
.card_book:hover{
    border: #000 2px solid;
    box-shadow: 0 4px 7px 0 #0000007e;
    transform: rotateZ(3deg);
}
    .card_title{
        font-weight: 600;
        font-family: 'bodoni';
        font-size: 1.2em;
        margin: 25px 0;
        justify-content: center;

    }
    .card-bottom{position: absolute; bottom: 0;}
        .price-book_text{
            color: #CD0074;
            margin: 0 0 0 10px;
            
            font-weight: 600;
        }

@media screen and (max-width: 1000px){
    .card_book{margin: 24px;}
    .block-with_content{
        width: 100%;
        margin: 0;
    }
    body{padding: 0;}
}
@media screen and (max-width: 800px){
    #search{padding: 10px;width: 300px;}
    svg{width: 25px;height: 25px;}
    .p{display: none;}
    #filtr-category_and_price{margin-left: 20%;}
    #filtr-price_content{left: -100px;}
}
@media screen and (max-width: 550px){
    #cart-content{
        left: -380px;
        width: 500px;
    }
    .item td{width: 105px;}
    svg{width: 40px;height: 40px;}
}